GIGACHAT_CREDENTIALS=
GIGACHAT_SCOPE=GIGACHAT_API_PERS
GIGACHAT_MODEL=GigaChat-Max
GIGACHAT_VERIFY_SSL=false

DATA_DIR=/data
HACKATHON_DIR=/hackathon

LOG_LEVEL=INFO
TRACING_DB_PATH=/data/tracing.db

NEXT_PUBLIC_API_URL=http://localhost:8000
INTERNAL_API_URL=http://backend:8000
